@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
*{box-sizing:border-box;}
body{background-color:#e3ebee;}
body::-webkit-scrollbar {width:4px;}
body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
header{
	position:relative;
	height:100vh;
	padding:0;
	background-image:linear-gradient(130deg,rgba(130,205,106,.95) 0,rgba(36,36,36,.97) 100%),url('../img/landscape.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
header h1{margin-top:50px;font-size:3.5em;}
header h2{
	width:calc(100% - 55%);
	margin:0 auto;
	padding-top:20px;
	border-top:3px solid #27bb7d;
	letter-spacing:5px;
	font-size:1.5em;
}
header .container{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
header nav{
	position:absolute;
	top:0;
	width:100%;
	background-color:rgba(255,255,255,.1);
	text-align:center;
}
.menu{list-style:none;margin:0;padding:0;}
.menu li{display:inline-block;padding:0;background-color:rgba(255,255,255,0);transition:all 400ms;cursor:pointer;}
.menu li:hover{background-color:rgba(255,255,255,1);}
.menu li a{color:#fff;padding:30px 50px;}
.menu li a:hover{text-decoration:none;}
.round{border-radius:100%;overflow:hidden;}
.profile-picture{
	position:relative;
	width:150px;
	height:150px;
	margin:0 auto;
	background-color:#fff;
	background-image:linear-gradient(130deg,rgba(130,205,106,.25) 0,rgba(36,36,36,.27) 100%),url('../img/profile-picture.jpg');
	background-repeat:no-repeat;
	background-position:center 10%;
	background-size:350px;
	border:2px solid #fff;
	box-shadow:0 0 30px 0 rgba(0,0,0,.2);
	overflow:hidden;
}
.arrow-down{
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	cursor:pointer;
}
.arrow-down svg{
	width:26px;
	height:auto;
	fill:#fff;
	stroke:#fff;
	-moz-animation:bounce 2s infinite;
	-webkit-animation:bounce 2s infinite;
	animation:bounce 2s infinite;
}
@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.content{padding-top:40px;padding-bottom:40px;}
section{background-color:#fff;border:1px solid #d7dfe2;padding:30px;}
section+section{margin-top:30px;}
section h1{
	margin:0;
	padding:0;
	padding-bottom:30px;
	color:#253743;
	border-bottom:1px solid #ebf0f3;
	font-size:18px;
}
.about-title{margin:0;padding:0;padding-top:30px;padding-bottom:5px;color:#9bb1bc;}
.about-wrapper>p{color:#445863;margin:0;padding:0;font-weight:700;}
.summary-wrapper,.experience-wrapper{padding-top:30px;padding-bottom:30px;border-bottom:1px solid #ebf0f3;}
.summary-wrapper h2,.experience-wrapper h2{margin:0;padding:0;margin-bottom:20px;color:#455866;font-size:16px;font-weight:700;}
.summary-wrapper h2>svg,.experience-wrapper h2>svg{position:relative;top:2px;width:16px;height:16px;fill:#455866;stroke:#455866;margin-right:10px;}
.summary-wrapper p,.experience-wrapper p{color:#627b80;margin:0;padding:0;line-height:1.6em;}
.summary-wrapper p+p{margin-top:10px;}
.experience-wrapper{border:none;}
.experience-item{position:relative;}
.experience-item .job{color:#253741;font-weight:700;}
.experience-item .business{color:#1680d4;font-weight:700;}
.experience-item .date{color:#9fb1bb;font-weight:500;margin-bottom:10px;}
.experience-item+.experience-item{margin-top:30px;}
.skill-wrapper ul{margin:0 0 20px;padding:0;list-style:none;overflow-y:hidden;}
.skill-wrapper li{
	width:100%;
	height:5px;
	margin:45px 0 0;
	background-color:#5e5e5e;
	position:relative;
	line-height:18px;
}
.skill-wrapper li span{
	position:absolute;
	z-index:1;
	top:-28px;
	margin:1px 0 40px 2px;
	padding:3px 0 0;
	color:#445863;
	font-weight:700;
	text-transform:uppercase;
}
.skill-wrapper li a{
	position:absolute;
	left:0;
	width:0;
	height:5px;
	background-color:#16d48e;
}
.skill-wrapper li,.skill-wrapper li a{border-radius:150px;}
.recommendations-wrapper .recommendation{
	display:inline-block;
	width:100%;
	margin-top:60px;
	padding:30px;
	padding-top:0;
	padding-bottom:15px;
	background-color:#f6fafb;
	text-align:center;
	vertical-align:top;
}
.recommendation .profile-img{
	position:relative;
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top:-30px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.recommendation .skill-role{margin-top:20px;color:#263842;font-weight:700;}
.recommendation .recommendation-text{color:#627a86;margin-bottom:30px;}
.recommendation .name{color:#1789df;font-weight:700;}
.recommendation .date{color:#9cb2bf;font-size:.8em;}
.interests-item{
	margin:2px 0;
	padding:13px 35px;
	background-color:#e3ebee;
	color:#9fb1bb;
	font-weight:700;
	border-radius:3px;
	text-align:center;
}
.interests-item:nth-child(2){margin-top:20px;}
.interests-item:hover{background-color:#1789df;color:#fff;}
footer{padding:30px;background-color:#2d2d2d;}
.copyright{color:rgba(255,255,255,.4);text-align:center;}
.copyright span{font-weight:700;}
@media (max-width: 991px){
	.col-md-9 {margin-top:30px;}
}
@media (max-width: 767px) {
	.col-md-9 {margin-top:30px;}
}